<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/main.html :: head}">
</head>
<body>

    <nav th:replace="~{fragments/main.html :: nav}"></nav>

    <main class="container p-5" style="min-height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class="text-center pt-3">Editar Quarto</h1>
                    <div class="card-body">
                        <form th:action = "@{/quartos/atualizar/{id} (id=${quarto.id}) }" th:object="${quarto}" method="POST">

                            <div class="form-group mb-3">
                                <label for="numero">Número: </label>
                                <input type="number"
                                       name="numero"
                                       id="numero"
                                       th:field = "*{numero}"
                                       placeholder="Digite o número do quarto"
                                       class="form-control">
                            </div>

                            <div class="form-group mb-3">
                                <label for="descricao">Descrição: </label>
                                <textarea
                                        name="descricao"
                                        id="descricao"
                                        th:field = "*{descricao}"
                                        placeholder="Digite uma descrição"
                                        class="form-control"
                                ></textarea>
                            </div>

                            <div class="form-group mb-3">
                                <label for="capacidade">Capacidade: </label>
                                <input type="number"
                                        name="capacidade"
                                        id="capacidade"
                                        th:field = "*{capacidade}"
                                        placeholder="Quantidade de hóspedes"
                                        class="form-control">
                            </div>

                            <div class="form-group mb-3">
                                <label for="tipo">Tipo: </label>
                                <input type="text"
                                       name="tipo"
                                       id="tipo"
                                       th:field = "*{tipo}"
                                       placeholder="Tipo do quarto. Ex: (padrão, suíte)"
                                       class="form-control">
                            </div>

                            <div class="form-group mb-3">
                                <label for="preco">Preço /noite: </label>
                                <input type="number"
                                       name="preco"
                                       id="preco"
                                       th:field = "*{preco}"
                                       placeholder="Preço /noite"
                                       class="form-control">
                            </div>

                            <div class="d-flex align-items-start column-gap-3 pb-3">
                                <button type="submit" class="btn btn-success">Salvar</button>
                                <a th:href = "@{/quartos}" class="btn btn-outline-secondary">Voltar</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/main.html :: footer}"></footer>

</body>
</html>